
#table_espace_utilisateur{
   max-height:50%;
}

#full-card{
   max-width:50%;
   min-width:50%;
   margin:auto;
}

.obligatoire{
   color:red;
}

#search-input{
   width: 300px;
}

#search-form{
   vertical-align: middle;
   align-content: center;
   display: flex;
}

#search-form .form-control{
   display:initial;
}

.button_create_table{
   position:absolute;
   right:10px;
}

.button-suppression{
   display:flex;
}

.button-suppression a{
   margin-left:40%;
}

.btn-success{
   margin-left:10px;
}

#confirm {
   display: none;
   border: 1px solid;
   position: fixed;
   width: 250px;
   left: 50%;
   margin-left: -100px;
   padding: 25px;
   text-align: center;
} 

.nav-title{
   margin-left:10px;
}

#navbarScroll{
   margin-right:90px;
}

.comment-add-red{
   color:red;
   text-decoration:none;
   font-size:large;
}
.comment-add-red:hover{
   color:green;
}

.trash-right{
   right: 10px;
   position: absolute;
   top:3px;
   color:red;
}

